hf_cache/.locks/models--google--mt5-small/9daa76f0231b96162833ebfee26e886a781b72e0d95ad1a1826b9147a74a939a.lock
hf_cache/.locks/models--google--mt5-small/26a2a78808e998e45d2e0c184265897e6695b914.lock
hf_cache/.locks/models--google--mt5-small/57e68b626df4687ba65e93590abdfdced2987433.lock
hf_cache/.locks/models--google--mt5-small/8569eec26cf4f83de53ac4e9acdabee9360aab9f.lock
hf_cache/.locks/models--google--mt5-small/11667c422d32b1429ab9797091a604069e1a35daf549a89cf0d647809c9ac59b.lock
hf_cache/.locks/models--google--mt5-small/b05685063706a63ce62e713e18c31f8fc5bde475.lock
hf_cache/.locks/models--google--mt5-small/d52815623b46b7db1c4b957b5a83a8ad30b0146a.lock
hf_cache/datasets/_data_work_course_AP0004_Final_Project_hf_cache_datasets_json_default-91000d85bc25bc1b_0.0.0_c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2.lock
hf_cache/datasets/_data_work_course_AP0004_Final_Project_hf_cache_datasets_json_default-cb779190b42a98be_0.0.0_c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2.lock
hf_cache/datasets/_data_work_course_AP0004_Final_Project_hf_cache_datasets_json_default-f47e13887e3c7c9d_0.0.0_c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2.lock
hf_cache/datasets/json/default-91000d85bc25bc1b/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2_builder.lock
hf_cache/datasets/json/default-cb779190b42a98be/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2_builder.lock
hf_cache/datasets/json/default-cb779190b42a98be/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2.incomplete_info.lock
hf_cache/datasets/json/default-cb779190b42a98be/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/cache-1ac9d00a06cf3e80.arrow
hf_cache/datasets/json/default-cb779190b42a98be/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/cache-8b930994a476eb19.arrow
hf_cache/datasets/json/default-cb779190b42a98be/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/cache-914234ecbdf0a1c3.arrow
hf_cache/datasets/json/default-cb779190b42a98be/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/dataset_info.json
hf_cache/datasets/json/default-cb779190b42a98be/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/json-validation.arrow
hf_cache/datasets/json/default-f47e13887e3c7c9d/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2_builder.lock
hf_cache/datasets/json/default-f47e13887e3c7c9d/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2.incomplete_info.lock
hf_cache/datasets/json/default-f47e13887e3c7c9d/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/cache-693c816094d6f230.arrow
hf_cache/datasets/json/default-f47e13887e3c7c9d/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/cache-d715f9144bc614c9.arrow
hf_cache/datasets/json/default-f47e13887e3c7c9d/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/cache-e618965819f0e0cc.arrow
hf_cache/datasets/json/default-f47e13887e3c7c9d/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/dataset_info.json
hf_cache/datasets/json/default-f47e13887e3c7c9d/0.0.0/c181ad2be84b86e0b75142bbe88bda3f4906d051ee75b5ff536a5dba0ffbe8f2/json-train.arrow
hf_cache/hub/.locks/models--google--mt5-small/9daa76f0231b96162833ebfee26e886a781b72e0d95ad1a1826b9147a74a939a.lock
hf_cache/hub/.locks/models--google--mt5-small/26a2a78808e998e45d2e0c184265897e6695b914.lock
hf_cache/hub/.locks/models--google--mt5-small/57e68b626df4687ba65e93590abdfdced2987433.lock
hf_cache/hub/.locks/models--google--mt5-small/8569eec26cf4f83de53ac4e9acdabee9360aab9f.lock
hf_cache/hub/.locks/models--google--mt5-small/11667c422d32b1429ab9797091a604069e1a35daf549a89cf0d647809c9ac59b.lock
hf_cache/hub/.locks/models--google--mt5-small/b05685063706a63ce62e713e18c31f8fc5bde475.lock
hf_cache/hub/.locks/models--google--mt5-small/d52815623b46b7db1c4b957b5a83a8ad30b0146a.lock
hf_cache/hub/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/added_tokens.json
hf_cache/hub/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/chat_template.jinja
hf_cache/hub/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/model.safetensors
hf_cache/hub/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/model.safetensors.index.json
hf_cache/hub/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/tokenizer.json
hf_cache/hub/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/custom_generate/generate.py
hf_cache/hub/models--google--mt5-small/blobs/9daa76f0231b96162833ebfee26e886a781b72e0d95ad1a1826b9147a74a939a
hf_cache/hub/models--google--mt5-small/blobs/26a2a78808e998e45d2e0c184265897e6695b914
hf_cache/hub/models--google--mt5-small/blobs/57e68b626df4687ba65e93590abdfdced2987433
hf_cache/hub/models--google--mt5-small/blobs/8569eec26cf4f83de53ac4e9acdabee9360aab9f
hf_cache/hub/models--google--mt5-small/blobs/11667c422d32b1429ab9797091a604069e1a35daf549a89cf0d647809c9ac59b
hf_cache/hub/models--google--mt5-small/blobs/b05685063706a63ce62e713e18c31f8fc5bde475
hf_cache/hub/models--google--mt5-small/blobs/d52815623b46b7db1c4b957b5a83a8ad30b0146a
hf_cache/hub/models--google--mt5-small/refs/main
hf_cache/hub/models--google--mt5-small/refs/refs/pr/15
hf_cache/hub/models--google--mt5-small/snapshots/245da7150e8c20829d49f24cd4347bed25ce9c9d/model.safetensors
hf_cache/hub/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/config.json
hf_cache/hub/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/generation_config.json
hf_cache/hub/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/pytorch_model.bin
hf_cache/hub/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/special_tokens_map.json
hf_cache/hub/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/spiece.model
hf_cache/hub/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/tokenizer_config.json
hf_cache/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/added_tokens.json
hf_cache/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/chat_template.jinja
hf_cache/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/model.safetensors
hf_cache/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/model.safetensors.index.json
hf_cache/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/tokenizer.json
hf_cache/models--google--mt5-small/.no_exist/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/custom_generate/generate.py
hf_cache/models--google--mt5-small/blobs/9daa76f0231b96162833ebfee26e886a781b72e0d95ad1a1826b9147a74a939a
hf_cache/models--google--mt5-small/blobs/26a2a78808e998e45d2e0c184265897e6695b914
hf_cache/models--google--mt5-small/blobs/57e68b626df4687ba65e93590abdfdced2987433
hf_cache/models--google--mt5-small/blobs/8569eec26cf4f83de53ac4e9acdabee9360aab9f
hf_cache/models--google--mt5-small/blobs/11667c422d32b1429ab9797091a604069e1a35daf549a89cf0d647809c9ac59b
hf_cache/models--google--mt5-small/blobs/b05685063706a63ce62e713e18c31f8fc5bde475
hf_cache/models--google--mt5-small/blobs/d52815623b46b7db1c4b957b5a83a8ad30b0146a
hf_cache/models--google--mt5-small/refs/main
hf_cache/models--google--mt5-small/refs/refs/pr/15
hf_cache/models--google--mt5-small/snapshots/245da7150e8c20829d49f24cd4347bed25ce9c9d/model.safetensors
hf_cache/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/config.json
hf_cache/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/generation_config.json
hf_cache/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/pytorch_model.bin
hf_cache/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/special_tokens_map.json
hf_cache/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/spiece.model
hf_cache/models--google--mt5-small/snapshots/73fb5dbe4756edadc8fbe8c769b0a109493acf7a/tokenizer_config.json
nltk_data/tokenizers/punkt_tab.xml
nltk_data/tokenizers/punkt_tab.zip
nltk_data/tokenizers/punkt.zip
nltk_data/tokenizers/punkt/.DS_Store
nltk_data/tokenizers/punkt/czech.pickle
nltk_data/tokenizers/punkt/danish.pickle
nltk_data/tokenizers/punkt/dutch.pickle
nltk_data/tokenizers/punkt/english.pickle
nltk_data/tokenizers/punkt/estonian.pickle
nltk_data/tokenizers/punkt/finnish.pickle
nltk_data/tokenizers/punkt/french.pickle
nltk_data/tokenizers/punkt/german.pickle
nltk_data/tokenizers/punkt/greek.pickle
nltk_data/tokenizers/punkt/italian.pickle
nltk_data/tokenizers/punkt/malayalam.pickle
nltk_data/tokenizers/punkt/norwegian.pickle
nltk_data/tokenizers/punkt/polish.pickle
nltk_data/tokenizers/punkt/portuguese.pickle
nltk_data/tokenizers/punkt/README
nltk_data/tokenizers/punkt/russian.pickle
nltk_data/tokenizers/punkt/slovene.pickle
nltk_data/tokenizers/punkt/spanish.pickle
nltk_data/tokenizers/punkt/swedish.pickle
nltk_data/tokenizers/punkt/turkish.pickle
nltk_data/tokenizers/punkt/PY3/czech.pickle
nltk_data/tokenizers/punkt/PY3/danish.pickle
nltk_data/tokenizers/punkt/PY3/dutch.pickle
nltk_data/tokenizers/punkt/PY3/english.pickle
nltk_data/tokenizers/punkt/PY3/estonian.pickle
nltk_data/tokenizers/punkt/PY3/finnish.pickle
nltk_data/tokenizers/punkt/PY3/french.pickle
nltk_data/tokenizers/punkt/PY3/german.pickle
nltk_data/tokenizers/punkt/PY3/greek.pickle
nltk_data/tokenizers/punkt/PY3/italian.pickle
nltk_data/tokenizers/punkt/PY3/malayalam.pickle
nltk_data/tokenizers/punkt/PY3/norwegian.pickle
nltk_data/tokenizers/punkt/PY3/polish.pickle
nltk_data/tokenizers/punkt/PY3/portuguese.pickle
nltk_data/tokenizers/punkt/PY3/README
nltk_data/tokenizers/punkt/PY3/russian.pickle
nltk_data/tokenizers/punkt/PY3/slovene.pickle
nltk_data/tokenizers/punkt/PY3/spanish.pickle
nltk_data/tokenizers/punkt/PY3/swedish.pickle
nltk_data/tokenizers/punkt/PY3/turkish.pickle
outputs/mt5_test_5000.txt
outputs/mt5_test_15000.txt
outputs/mt5_test_15105.txt
outputs/mt5_test.txt
outputs/mt5_val_5000.txt
outputs/mt5_val_10000.txt
outputs/mt5_val_15105.txt
outputs/mt5_val.txt
outputs/rnn_add_100k_bs128_free.txt
outputs/rnn_add_100k_bs128_heavy.txt
outputs/rnn_dot_100k_bs128_heavy.txt
outputs/rnn_dot_beam5_test.txt
outputs/rnn_dot_greedy_test.txt
outputs/rnn_gen_100k_bs128_heavy.txt
outputs/rnn_gen_beam5_test.txt
outputs/rnn_gen_greedy_test.txt
outputs/rnn_sp_add_beam5_test.txt
outputs/rnn_sp_add_greedy_test.txt
outputs/test_ref.txt
outputs/tf_abs_layer_256_100k_heavy.txt
outputs/tf_abs_layer_256_100k_maxlen256_greedy_yangyang.txt
outputs/tf_abs_layer_512_6l_100k_bs64.txt
outputs/tf_abs_layer_512_6l_100k_lr1e3.txt
outputs/tf_abs_layer_512_6l_100k.txt
outputs/tf_abs_layer512_6l_beam5_test.txt
outputs/tf_abs_layer512_6l_greedy_test.txt
outputs/tf_abs_rms_256_100k_heavy.txt
outputs/tf_rel_layer_256_100k_heavy.txt
outputs/tf_rel_rms_256_100k_heavy.txt
outputs/tf_rel_rms256_beam5_test.txt
outputs/tf_rel_rms256_greedy_test.txt
outputs/tf_rel_rms256_greedy_yangyang.txt
outputs/val_ref.txt
